@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(Roboto-Bold.ttf);
}

#weather {
  // border: solid 5px lightskyblue;
  text-align: center;
  background-color: white;
  color: black;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Roboto, serif;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  border-radius: 1%;

}

body {
  text-align: center;
  font-family: Roboto, serif;
  background-color:  #004080;
  color: white;
} 

input {
  border: none;
  -webkit-appearance: none;
  background: none;
  outline: none;
  color: white;
  border-bottom: solid 2px white;
}

button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: #04AA6D;
  border-radius: 5px;
}


#country {
  color: white;
  background-color: orangered;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 40%;
}

h1 {
  font-family: RobotoBold, serif;
}

::placeholder {
  color: white;
  opacity: 1;
}

#temp {
  font-size: 4rem;
}

#deg {
  font-size: 2rem;
}

img {
  width: 100px;
  height: 100px;
}
